html {
  background: #182E7A url(bg_blue.gif) repeat-x;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 910px;
  font-family: Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #3369AA;
}

#header {
  width: 910px;
  height: 90px;
  background: #FFFFFF url(FH_Banner7.jpg) no-repeat top left;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

#content {
  width: 835px;
  background-color: #FFFFFF;
}

#content ul {
  padding-right: 40px;
}

#content ul * {
  list-style-type: none;
}

#content ul li ul {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

#content ul li ul:hover
{
  background-color: #DDDDDD;
}

.suggest_link {
  background-color: #FFFFFF;
  color: grey;
}

.suggest_link_over {
  background-color: #DDDDDD;
  color: #3369AA;
}

#suggestion div {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.info {
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 8pt;
  color: black;  
}

.author_modified {
  font-size: 8pt;
  color: grey;  
}

.content {
  font-size: 8pt;
  color: black;  
}

.dates {
  font-size: 8pt;
  color: green;  
}

.date_info {
  font-size: 8pt;
  color: red;  
}

.link {
  font-size: 10pt;
}

.score {
  font-size: 8pt;
  color: red;
}

.pager {
  font-size: 10pt;
}

#form {
  padding-left: 250px;
  padding-top: 20px;
}

#query {
  width: 20em;
  font-size: 10pt;
  border: none;
  outline: 1px solid #3369AA;
}

#button {
  width: 10em;
  font-size: 10pt;
  border: none;
  outline: 1px solid #3369AA;
}

#suggestion
{
  color: grey;
  position: absolute;
  background-color: #FFFFFF;
  width: 20em;
  outline: 1px solid grey;
  visibility: hidden;
  font-size: 10pt;
}

#sider {
  width: 75px;
  height: 605px;
  background: url(rightgradient2.jpg) no-repeat top right;
}

#pager {
  text-align: center;
  padding-bottom: 20px;
}

#footer {
  background-color: #1E326F;
  color: #FFFFFF;
  font-size: 9pt;
  padding-right: 10px;
  text-align: right;
  width: 900px;
  height: 19px;
  padding-top: 5px;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

