html {
height:100%;
}
body {
background:#FFFFFF none repeat scroll 0%;
color:#000000;
font-size:100.01%;
min-height:101%;
position:relative;
text-align:left;
}
* {
font-size:100%;
margin:0pt;
padding:0pt;
}
#topnav {
background:transparent none repeat scroll 0%;
color:#FFFFFF;
position:relative;
right:10px;
text-align:right;
top:10px;
}
#nav {
clear:both;
width:auto;
z-index:100;
}
#main {
clear:both;
width:auto;
z-index:10;
}
#col1 {
float:left;
width:200px;
}
#col2 {
float:right;
width:200px;
}
#col3 {
margin-left:200px;
margin-right:200px;
width:auto;
}
#col1 {
z-index:3;
}
#col2 {
z-index:5;
}
#col3 {
z-index:1;
}
#col1_content {
z-index:4;
}
#col2_content {
z-index:6;
}
#col3_content {
z-index:2;
}
#col1, #col2, #col3 {
position:relative;
}
#col1_content, #col2_content, #col3_content {
position:relative;
}
#footer {
clear:both;
width:auto;
}
.clearfix:after {
clear:both;
content:".";
display:block;
height:0pt;
visibility:hidden;
}
.clearfix {
display:block;
}
.floatbox {
overflow:hidden;
}
hr.clear_columns {
border:0pt none;
clear:both;
content:".";
display:block;
float:left;
height:0pt;
line-height:0px;
margin:-2em 0pt 0pt;
padding:0pt;
visibility:hidden;
}
ul, ol, dl {
margin:0pt 0pt 1em;
}
li {
line-height:1.5em;
margin-left:1.5em;
}
dt {
font-weight:bold;
}
dd {
margin:0pt 0pt 1em 2em;
}
blockquote, cite {
font-size:0.93em;
margin:0pt 0pt 1em 1.5em;
width:auto;
}
.skip {
left:-1000em;
position:absolute;
width:20em;
}