body {
	font-family: Verdana, sans-serif;
	margin: 0px;
	font-size: 8pt;
}

a:link { text-decoration: none; color: navy; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; color: navy; }
a:active { text-decoration: none; color: navy; }

a.help { font-weight: bold; color: gray; }
a.help:hover { color: #505050; text-decoration: none; }

img.logo { border: none; }

#help { color: gray; }

#stats { color: gray; }

#throbber { 
	display: none; 
	vertical-align: text-bottom;
}

td {
	border: 0px;
	margin: 0px;
	padding: 2px;	
}

th {
	border: 0px;
	margin: 0px;
	padding: 0px;	
}

tr {
	border: 0px;
	margin: 0px;
	padding: 0px;	
}

table.onlinehelp { 
	width: 80%;
	background-color: #FFFFE0;
	color: #505050;
	margin-left: auto;
	margin-right: auto;
}

th.description {
	background-color: #EEE8AA;
	width: 400px;
}

th.example {
	background-color: #EEE8AA;
}

tr.onlinehelp { 
	background-color: #FAFADA;
}

td.description {
}

td.example {
	text-align: center;
}

#top { 
	background-color: #EEEEEE;
	padding: 10px;
	height: 140px;
}

#right { 
	padding-left: 300px;
	right: 5px;
}
#left { 
	float: left;
}

#query { margin: 10px; }

a.credits { font-weight: bold; color: gray; }
a.credits:link { font-weight: bold; }
a.credits:visited { font-weight: bold; }
a.credits:hover { color: #505050; text-decoration: none; }

#credits {
	text-align: right;
	vertical-align: top;
	color: gray;
}

p#cloud {
	color: gray;
	text-align: center;
	vertical-align: middle;
}

.querybox { 
	width: 250px;
	border-width: 1px;
	border-color: black;
}

#words { 
	height: 100px;
	vertical-align: middle;
}

.cloud1 { font-size: 8pt; }
.cloud2 { font-size: 10pt; }
.cloud3 { font-size: 11pt; }
.cloud4 { font-size: 12pt; }
.cloud5 { font-size: 13pt; }
.cloud6 { font-size: 14pt; }
.cloud7 { font-size: 16pt; }
.cloud8 { font-size: 18pt; }
.cloud9 { font-size: 20pt; }

#results { margin: 10px; }

.title { font-weight: bold; }

a.link { text-decoration: underline; }

.contexts { color: gray; }
.context { font-weight: bold; }

.uri { color: green; }