body {
	font-family:Tahoma,Verdana,sans-serif;
	margin:0px;
	font-size:8pt;
	background-color:#EEEEEE;
}

a {
	font-weight:bold;
	color:grey;
}
a:link {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
	color:silver;
}
a:visited {
	text-decoration:none;
}
a:active {
	text-decoration:none;
}

img.logo { border: none; }

#throbber { 
	vertical-align: text-bottom;
}

table.help { 
	width: 80%;
	background-color: #FFFFE0;
	color: #505050;
	margin-left:auto;
	margin-right:auto;
}

tr.help { background-color: #FAFADA; }

th.description {
	background-color: #EEE8AA;
	width: 400px;
}

th.example { background-color: #EEE8AA; }

td.example { text-align: center; }

#credits {
	color:grey;
	padding:5px;
	float:right;
}

#logo {
	margin-top:5px;
	margin-left:5px;
	margin-bottom:10px;
}

#query {
	color:grey;
	margin:0px;
	padding:10px;
	float:left;
}

#onlinehelp {
	padding:20px;
	float:left;
}

#status {
	color:grey;
	font-weight:bold;
	padding-bottom:10px;
	min-height:14px;
}

#documents {
	padding:10px;
	clear:both;
	background-color:white;
	min-height:600px;
}

#words {
	min-height:130px;
	margin-left:300px;
}

#querytext {
	border-color:silver;
	border-width:1px;
	border-style:solid;
	width:200px;
}

#querybutton {
	border-color:silver;
	border-width:1px;
	border-style:solid;
	background-color:#F4F4F4;
}

a.cloud {
	font-weight:normal;
}

p.cloud {
	text-align:center;
}

.cloud1 { font-size:7pt; }
.cloud2 { font-size:10pt; }
.cloud3 { font-size:13pt; }
.cloud4 { font-size:15pt; }
.cloud5 { font-size:17pt; }
.cloud6 { font-size:19pt; }
.cloud7 { font-size:20pt; }
.cloud8 { font-size:21pt; }
.cloud9 { font-size:22pt; }

.link { color:navy; }
.link:hover { 
	color:navy; 
	text-decoration:underline;
}
.title { font-size:10pt; }
.contexts { color:grey; }
.context { font-weight:bold; }
.uri { color:green; }