cache
tmp
cache.xml
ix.bin-*
pkg.bin*
hayoo.log
ix.bin
ix.bin.doc
ix.bin.idx
hxt-ix
hxt-ix.doc
hxt-ix.idx
hxt-ix.xml
whole-*.out
new-ix.bin.*
new-pkg.bin.*
*.out
new-pkg.bin
Types-Data-Num-Decimal-Literals.html
hxt-pkg
hxt-pkg.doc
hxt-pkg.idx
hxt-pkg.xml
log/
functions/
