html
{
  background: #182E7A url(bg_blue.gif) repeat-x;
}

body
{
  margin-left: auto;
  margin-right: auto;
  width: 910px;
  font-family: Tahoma, sans-serif;
}

a
{
  text-decoration: none;
  color: #3369AA;
}

.header
{
  width: 910px;
  height: 90px;
  background: #FFFFFF url(FH_Banner7.jpg) no-repeat top left;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

table
{
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

.contentTd
{
  vertical-align:top;
  background-color:#FFFFFF;
}

.content
{
  width: 835px;
  background-color: #FFFFFF;
}

.content ul *
{
  list-style-type: none;
}

.form
{
  padding-left: 250px;
  padding-top: 20px;
}

#query
{
  width: 20em;
  font-size: 10pt;
  border: none;
  outline: 1px solid #3369AA;
}

.button
{
  width: 10em;
  font-size: 10pt;
  border: none;
  outline: 1px solid #3369AA;
}

#suggestion
{
  color: grey;
  position: absolute;
  background-color: #FFFFFF;
  width: 20em;
  outline: 1px solid grey;
  visibility: hidden;
  font-size: 10pt;
}

#suggestion div
{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.suggest_link
{
  background-color: #FFFFFF;
  color: grey;
}

.suggest_link_over
{
  background-color: #DDDDDD;
  color: #3369AA;
}

.result
{
  min-height: 512px;
}

ul, li
{
  margin-left: 0;
  padding-left: 0;
}

.info
{
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 8pt;
  color: black;
}

.searchResult
{
  padding-left: 40px;
  padding-right: 40px;
}

.searchResult ul
{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.searchResult ul:hover
{
  background-color: #DDDDDD;
}

.searchResultModified
{
  font-size: 8pt;
  color: grey;
}

.teaserText
{
  font-size: 8pt;
  color: black;
}

.calenderDateTeaserText div:hover
{
  background-color: #BBBBBB;
}

.date
{
  font-size: 8pt;
  font-weight: bold;
  color: black;
}

.dateContext
{
  font-size: 8pt;
  color: black;
}

.score
{
  font-size: 8pt;
  color: red;
  display: none;
}

.examples {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color:#F4F4F4;
  border:1px solid silver;
  padding:20px;
  font-size: 10pt;
  margin-top: 50px;
}

.example a {
  font-family: monospace;
  font-weight: normal;
  font-size: 90%;
}

.examples li
{
  list-style-type: circle;
}

.example .green {
  font-weight: normal;
  color: #007700;
}

.pager
{
  text-align: center;
  padding-bottom: 20px;
  font-size: 10pt;
  padding-left: 60px;
  padding-right: 60px;
}

.actPage
{
  font-weight: bold;
}

.siderTd
{
  vertical-align:top;
  background-color:#1E326F;
}

.sider
{
  width: 75px;
  height: 605px;
  background: url(rightgradient2.jpg) no-repeat top right;
}

.footer
{
  background-color: #1E326F;
  color: #AAAAAA;
  font-size: 9pt;
  padding-right: 10px;
  text-align: right;
  width: 900px;
  height: 19px;
  padding-top: 5px;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

.footerHref
{
  color: #FFFFFF;
}
